#quiz-container {
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensures sidebar takes the full height of the container */
    margin-left: 40px;
    margin-top: 30px;
    width: 170px;
    background-color: #fffbed;
    border-radius: 7px solid #ccc;
    box-shadow: 0 2px 5px #1152465d;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}


#numbers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center;
    align-items: center;
    padding: 0 55px;
    grid-gap: 30px; 
    flex: 1;
}

.number-box {
    font-family: "Poppins";
    border-radius: 3px;
    background-color: #fffbed;
    box-shadow: 0 2px 5px #1152465d;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 20px; 
    width: 40px; 
    height: 59px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; 
    border: 2px solid #115246;
}

.number-box:hover {
    background-color: #eee;
}

.number-box.active {
    background-color: #467d755a;
    color: #115246;
}

.number-box.answered {
    background-color: #11524684;
    color: white;
}
.number-box.answered:hover {
    background-color: #11524658;
}


#quiz-content {
    flex-grow: 1;
    padding: 30px;
    box-sizing: border-box;
}

#question-box {
    background-color: #F2E7D5;
    color: #115246;
    font-family: "Poppins";
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

#question-container {
    padding: 25px;
    text-align: justify;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.answers-box-container {
    align-items: center;
    background-color: #fffbed;
    box-shadow: 0 2px 5px #1152465d;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

.answers-box {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 0;
}

.answer-container {
    font-family: "Poppins";
    border-radius: 5px;
    background-color: #fffbed;
    box-shadow: 0 2px 5px #1152465d;
    padding: 15px 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border: 2px solid #115246;
}
.answer-container:hover {
    box-shadow: 0 3px 3px #11524675;
    
}

.answer-label {
    font-size: 16px;
}

#feedback {
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    color: var(--red);
}

.correct-answer {
    background-color: #115b2622; /* light green */
    color: #155724; /* dark green */
}

.incorrect-answer {
    background-color: #f8d7da; /* light red */
    color: #721c24; /* dark red */
}


/* #navigation-buttons {
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    margin-top: 0;
    margin: 0;
} */

/* button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 5px #1152465d;
    width: 100px;
    height: 40px;
    background-color: #11524650;
    border-radius: 5px;
    margin: 0 30px;
    border: 1px solid #1152465d;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
} */

button:hover {
    background-color: #11524692;
    transform: scale(1.05);
}

button:disabled {
    background-color: #1152463a;
    cursor: not-allowed;
}

#back-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    flex-grow: 1;
}

/* #back-button {
    font-family: "Poppins";
    background-color: #7a1212;
    color: white;
    border: none;
    font-size: 13px;
    border-radius: 3px;
    transition: background-color 0.3s;
    width: 70px;
    height: 30px;
    margin-top: 15px; 
    align-self: center; 
} */


/* #back-button:hover {
    background-color: #442f26;
} */

.feature {
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-content {
    display: flex;
    flex-direction: column; /* Centers the content vertically */
    align-items: center;
    justify-content: center;
}

.feature-image2 {
    width: 80px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
    height: auto;
    display: flex;
    
}

#progress-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the entire progress bar and percentage */
    width: 100%;
    margin-bottom: 10px;
    margin-top: 30px; /* Control the top spacing for the entire wrapper */
}

#progress-bar-container {
    width: 90%; /* Adjust this width as needed */
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #115246; /* Adjust color as needed */
    border-radius: 5px;
    transition: width 0.3s ease;
}

#progress-percentage {
    font-family: "Poppins";
    margin-left: 10px; /* Small gap between the bar and percentage */
    font-weight: bold;
    color: #115246; /* Match the color of the progress bar */
    align-self: center; /* Vertically align with the progress bar */
}

#navigation-buttons {
    display: flex;
    justify-content: space-between; /* Space out the buttons */ /* Add space above the buttons */
}

#prev-button {
    background-color: #115246; /* Button color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 150px; /* Sets a max width for the button */
    flex: 1; /* Makes the button expand equally with Next button */
    margin: 20px; /* Space to the right of the Previous button */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

#next-button {
    background-color: #115246; /* Button color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 150px; /* Sets a max width for the button */
    flex: 1; /* Makes the button expand equally with Previous button */
    margin:20px;  /* Space to the left of the Next button */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}


#prev-button:hover,
#next-button:hover {
    background-color: #0d3e34; /* Darker color on hover */
}

#prev-button:disabled,
#next-button:disabled {
    background-color: #ccc; /* Disabled color */
    cursor: not-allowed;
}


.answer-label {
    display: flex;
    align-items: center;
    width: 100%; /* Make the label take up the full width of the container */
    cursor: pointer; /* Shows pointer to indicate clickable area */
}

.number-box.active {
    background-color: #e9e6af; /* Warna latar belakang saat aktif */
    color: rgb(11, 11, 11);
    font-weight: bold;
}

