.login-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-image {
    width: 350px; /* Sesuaikan ukuran sesuai kebutuhan */
    height: auto;
    margin-right: 120px; /* Memberi jarak antara gambar dan form */
}


