.words-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    max-width: 1200px; 
    margin: 0 auto; 
}

h2 {
    font-family: "Poppins";
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}


header p {
    font-size: 16px;
    color: #555; 
}

.interactive-box {
    color: var(--red);
    font-size: 1.5rem;
    font-weight: bold;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
}



.word-box {
    text-decoration: none;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    height: 150px;
    background-color: #ffffeb;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0px 4px 8px #f3d4b7;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.word-box:hover {
    transition: scale(1.05);
    cursor: pointer; 
    background-color: #1152463e;
}

.word-image {
    width: 100px; 
    height: auto; 
}

.word-box:active {
    transform: scale(1.05); 
    background-color: #d4dccc; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); 
}


.word-title {
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: bold;
    color: #123d2d;
    text-align: center;
    margin-left: 10px;
}

@media (max-width: 1024px) {
    h2 {
        font-size: 1.8rem; 
        margin-bottom: 10px; 
    }
    .words-container {
        padding: 20px; 
        max-width: 800px; 
        gap: 25px;
    }

    .word-box {
        width: 240px; 
        height: 130px;
        padding: 20px; 
    }

    .word-title {
        font-size: 1rem; 
    }

    .word-image {
        width: 70px; 
    }
}


@media (max-width: 768px) {
    h2 {
        font-size: 1.6rem;
        margin-bottom: 8px; 
    }
    .words-container {
        padding: 15px; 
        max-width: 600px; 
        gap: 20px; 
    }

    .word-box {
        width: 240px; 
        height: 120px; 
        padding: 15px; 
    }

    .word-title {
        font-size: 0.9rem; 
    }

    .word-image {
        width: 60px; 
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1rem; 
        margin-bottom: 6px; 
    }
    .words-container {
        padding: 10px; 
        max-width: 95%;
        gap: 15px;
    }

    .word-box {
        width: 200px;
        height: 100px;
        padding: 10px; 
    }

    .word-title {
        font-size: 0.8rem; 
    }

    .word-image {
        width: 50px; 
    }
}

@media (max-width: 375px) {
    h2 {
        font-size: 1rem; 
        margin-bottom: 4px; 
    }

    .words-container {
        padding: 5px; 
        max-width: 100%; 
        gap: 10px; 
    }

    .word-box {
        width: 250px; 
        height: 90px; 
        padding: 8px; 
    }

    .word-title {
        font-size: 0.7rem;
    }

    .word-image {
        width: 40px;
    }
}