.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 800px;
    background: linear-gradient(135deg, #FAF1E6, #E4EFE7, #E8ECD6, #FFFBEB); 
    box-shadow: 0 1px 10px 1px #52706b98;
    border-radius: 8px;
    overflow: hidden;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-left {
    flex: 0 0 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile-pic {
    width: 210px;
    height: auto;
}

.profile-right {
    padding: 50px;
    justify-content: center;
    align-items: center;
    
}

.form-label {
    font-size: 15px;
    color: #543b2f;
    font-weight: bold;
}

.form-input {
    width: 120%;
    height: 45px;
    padding: 0 10px;
    border-color: var(--green);
    border-radius: 5px;
    font-size: 16px;
}

.form-button {
    font-family: "Poppins";
    width: 120%;
    height: 45px;
    margin-top: 20px;
    background-color: #ffeec0;
    border-radius: 5px;
    color: #115246;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.form-button:hover {
    background-color: #efda9f;
}

.logout-button {
    font-family: "Poppins";
    color: var(--beige);
    font-weight: bold;
    width: 120%;
    background-color: #cd1f1f;
    margin-top: 20px;
    
}

.logout-button:hover {
    background-color: #cd1f1fba;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    gap: 10px; 
    margin-top: 10px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background: #ffffff;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}


.popup-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px; 
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 5px; 
    
}

.popup-content h2 {
    font-family: "Poppins";
    color: var(--red);
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
}

.popup p {
    font-family: "Poppins";
    font-size: 15px;
    color: #666666;
    margin-bottom: 20px;
}


.popup-content input {
    font-family: "Poppins";
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-allow {
    background: #115246;
    color: white;
    flex: 1;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: none;
}

.button-decline {
    background: #cd1f1f;
    color: white;
    flex: 1;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: none;
}

.button-decline:hover {
    background-color: #cd1f1f82;
}

.button-allow:hover {
    background-color: #11524678;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 1024px) {
    .profile-container {
        flex-direction: column;
        max-width: 800px;
        padding: 20px;
    }

    .profile-left {
        flex: 0 0 180px;
    }

    .profile-pic {
        width: 180px;
    }

    .profile-right {
        padding: 20px;
    }

    .form-input,
    .form-button,
    .logout-button {
        height: 300px;
        height: 30px;
        font-size: 13px;
    }

    .popup-content {
        max-width: 400px;
        height: auto;
        padding: 10px;
    }

    .popup-icon {
        width: 90px;
        height: 90px;
        top: -55px;
    }
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    .profile-left {
        flex: 0 0 180px;
    }

    .profile-pic {
        width: 180px;
    }

    .profile-right {
        padding: 20px;
    }

    .form-input,
    .form-button,
    .logout-button {
        height: 350px;
        height: 30px;
        font-size: 13px;
    }

    .popup-content {
        max-width: 400px;
        height: auto;
        padding: 10px;
    }

    .popup-icon {
        width: 90px;
        height: 90px;
        top: -55px;
    }
}

@media (max-width: 540px) {
    .profile-container {
        flex-direction: column;
        width: 500px;
        padding: 20px;
    }

    .profile-left {
        flex: 0 0 180px;
    }

    .profile-pic {
        width: 180px;
    }

    .profile-right {
        padding: 20px;
    }

    .form-input,
    .form-button,
    .logout-button {
        height: 350px;
        height: 30px;
        font-size: 13px;
    }

    .popup-content {
        max-width: 400px;
        height: auto;
        padding: 10px;
    }

    .popup-icon {
        width: 90px;
        height: 90px;
        top: -55px;
    }
}

@media (max-width: 480px) {
    .profile-container {
        flex-direction: column;
        width: 90%;
        margin: 20px auto;
        padding: 10px;
    }

    .profile-left {
        flex: 0 0 150px;
    }

    .profile-pic {
        width: 150px;
    }

    .profile-right {
        padding: 10px;
    }

    .form-input,
    .logout-button {
        width: 350px;
        height: 30px;
        font-size: 15px;
    }
    .form-button {
        width: 350px;
        height: 30px;
        font-size: 15px;
    }

    .popup-content {
        max-width: 300px;
        padding: 10px;
    }

    .popup-icon {
        width: 80px;
        height: 80px;
        top: -45px;
    }
}

@media (max-width: 375px) {
    .profile-container {
        width: 90%;
        padding: 10px;
    }

    .profile-pic {
        width: 120px;
    }

    .form-input,
    .logout-button {
        width: 300px;
        height: 30px;
        font-size: 15px;
    }

    .form-button {
        width: 300px;
        height: 30px;
        font-size: 15px;
    }

    .popup-content {
        max-width: 300px;
        padding: 8px;
    }

    .popup-icon {
        width: 40px;
        height: 40px;
        top: -20px;
    }
}