.register-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.title-header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3rem;
}

.form-title {
    font-size: 1.5rem;
    color: #115246;
}

.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-image {
    width: 350px; /* Sesuaikan ukuran sesuai kebutuhan */
    height: auto;
    margin-right: 120px; /* Memberi jarak antara gambar dan form */
}