body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    margin-bottom: 20px; 
}

header p {
    font-size: 16px;
    color: #555; 
}

.interactive-box {
    color: var(--red);
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.words-container {
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    background-color: rgba(125, 177, 154, 0.145);
    max-width: 800px;
}

.word-box {
    width: 180px;
    margin: 15px;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #0b352d;
    border-radius: 10px;
    background-color: var(--green);
    color: var(--beige);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s;
}

.word-box:hover {
    transform: scale(1.05); 
}

#meaning-container {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f9f6ef;
    border: 20px solid #115246;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    text-align: center;
    font-family: "Poppins";
}

#word-title {
    font-size: 3rem;
    color: #333;
    font-weight: bold;  
    margin: 0;
    line-height: 1.2;
}


.part-of-speech {
    font-size: 1rem;
    color: #333333cf;
}

.pronunciation {
    font-size: 1rem;
    color: #333333cf;
}

#meaning-container hr {
    border: none;
    border-top: 5px solid #1152463e;
    margin: 20px 0;
}

.meaning-title {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    margin: 0;
}

.word-definition {
    font-size: 1rem;
    color: #333333cf;
    line-height: 1.2;
}

.did-you-know-title {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    margin: 0;
}

.did-you-know {
    font-size: 1rem;
    color: #333333cf;
    line-height: 1.2;
}

.word-card {
    transition: transform 0.3s;
}

.word-card:hover {
    transform: scale(1.05);
}

.card-back {
    font-size: 1rem;
    color: #333;
    padding: 15px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f4ee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

@media (max-width: 1024px) {
    .meaning-box {
        width: 90%;
        max-width: 500px;
    }

    #word-title {
        font-size: 1.8rem; 
    }

    .part-of-speech,
    .pronunciation {
        font-size: 1.1rem;
    }

    .meaning-title,
    .did-you-know-title {
        font-size: 1.1rem;
    }

    .word-definition,
    .did-you-know {
        font-size: 0.95rem;
    }
}

@media (max-width: 768px) {
    .meaning-box {
        width: 90%;
        max-width: 400px; 
    }

    #word-title {
        font-size: 1.6rem;
    }

    .part-of-speech,
    .pronunciation {
        font-size: 1rem;
    }

    .meaning-title,
    .did-you-know-title {
        font-size: 1rem;
    }

    .word-definition,
    .did-you-know {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .meaning-box {
        width: 90%; 
        max-width: 350px; 
        height: auto;
    }

    #word-title {
        font-size: 1.4rem;
    }

    .part-of-speech,
    .pronunciation {
        font-size: 0.9rem;
    }

    .meaning-title,
    .did-you-know-title {
        font-size: 0.9rem;
    }

    .word-definition,
    .did-you-know {
        font-size: 0.85rem;
    }
}

@media (max-width: 375px) {
    .meaning-box {
        width: 90%;
        max-width: 320px; 
    }

    #word-title {
        font-size: 1.2rem;
    }

    .part-of-speech,
    .pronunciation {
        font-size: 0.8rem;
    }

    .meaning-title,
    .did-you-know-title {
        font-size: 0.85rem;
    }

    .word-definition,
    .did-you-know {
        font-size: 0.8rem;
    }
}