:root{
    --green: #638666;
    --beige: #fff2e2;
    --red: #543b2f;
    --white: #fff;
}

* {
    box-sizing: border-box;
}

body {
    padding-top: 200px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--beige);
    /* min-height: 100vh; */
}

header {
    background: var(--green);
    color: var(--beige);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    /* position: fixed;
    width: 100vw;
    z-index: auto; */
    
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

nav h1 {
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold;
}

.nav-left {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 35%;
}

.nav-left img {
    height: 80px;
}

.title-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    width: 35%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0;
    gap: 20px;
    font-family:'Poppins';
    font-weight: 500;
    font-size: 1rem;
}

.nav-list-item {
    text-decoration: none;
    position: relative;
}

.nav-link {
    display: inline-block;
    padding: 3px 10px; 
    color: var(--beige);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.nav-link:hover {
    cursor: pointer; 
    text-decoration: underline;
}

.auth {
    border: 1px solid var(--beige);
    border-radius: 7px;
    background-color: var(--beige);
}

.auth a {
    color: var(--green);
}

.auth a:hover {
    color: var(--red);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--beige);
    width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s
}

.dropdown-content:hover {
    transform: scale(0.98)
}

.dropdown-content a {
    font-size: 14px;
    color: #115246;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

.nav-list-item:hover .dropdown-content {
    display: block;
}

main {
    padding: 80px;
    padding-top: 10px;
}

h2 {
    color: var(--red);
}

#about h2 {
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 1500;
    font-size: 1.7rem;
    /* margin-top: 120px; */
}

#about p {
    margin-bottom: 20px;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 1rem;
}

.feature-container {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-link {
    text-decoration: none;
}

.feature {
    background: var(--white);
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 2px 5px #1152465d;
    text-align: center;
    color: #115246;
    transition: box-shadow 0.3s;
}

.feature:hover {
    box-shadow: 0 5px 15px #11524675;
}


footer {
    text-align: center;
    background: var(--green);
    color: var(--beige);
    width: 100%;
    bottom: 0;
    position: fixed;
}

footer p {
    font-family: "Poppins";
    margin: 0;
}

.feature h3 {
    font-family: "Poppins";
    /* Menghindari tabrakan dengan gambar */
    font-size: 20px; /* Sesuaikan ukuran teks sesuai kebutuhan */
    font-weight: bold; /* Tambahkan untuk mempertebal teks jika diperlukan */
    margin-bottom: 5px;
}

.feature p {
    font-family: "Poppins";
    margin-top: 0; /* Menghilangkan jarak atas deskripsi */
    font-size: 17px; 
}

@media (max-width: 768px) {
    header {
        width: 195%;
    }

    .nav-list {
        gap: 10px;
        align-items: center;
    }

    nav h1 {
        font-size: 2rem; 
    }

    .nav-link {
        font-size: 0.9rem; 
    }

    main {
        padding: 20px; 
    }

    h2 {
        font-size: 1.4rem;
    }

    p {
        font-size: 0.9rem; 
    }

    footer {
        padding: 5px 0;
    }
}

@media (max-width: 480px) {
    nav h1 {
        font-size: 1rem; 
    }

    .nav-link {
        font-size: 0.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }
}