.meaning-box {
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    width: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#word-title {
    font-size: 2rem;
    color: #333;
    text-align: center;
}

.part-of-speech {
    color: #333;
    font-size: 1.2rem;
}

.pronunciation {
    font-size: 1.2rem;
    color: #333;
}

.meaning-title {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}

.word-definition {
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
}

.did-you-know-title {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}

.did-you-know {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
    text-align: left;
}

@media (max-width: 768px) {
    .meaning-box {
        width: 90%;
        padding: 15px; 
    }

    #word-title {
        font-size: 1.8rem; 
    }

    .part-of-speech,
    .pronunciation {
        font-size: 1rem; 
    }

    .meaning-title,
    .did-you-know-title {
        font-size: 1.1rem; 
    }

    .word-definition,
    .did-you-know {
        font-size: 0.9rem; 
    }
}

@media (max-width: 480px) {
    .meaning-box {
        width: 90%;
        max-width: 350px;
    }

    #word-title {
        font-size: 1.4rem;
    }

    .part-of-speech,
    .pronunciation {
        font-size: 0.9rem;
    }

    .meaning-title,
    .did-you-know-title {
        font-size: 0.9rem;
    }

    .word-definition,
    .did-you-know {
        font-size: 0.85rem;
    }
}

@media (max-width: 375px) {
    .meaning-box {
        width: 90%;
        max-width: 320px;
    }

    #word-title {
        font-size: 1.2rem;
    }

    .part-of-speech,
    .pronunciation {
        font-size: 0.8rem;
    }

    .meaning-title,
    .did-you-know-title {
        font-size: 0.85rem;
    }

    .word-definition,
    .did-you-know {
        font-size: 0.8rem;
    }
}